* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Header */

.header {
    background-color: #10BBD5;
    padding-top: 16px;
    width: 100%;

    position: sticky;
    top: 0;
    z-index: 2;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-margin {
    margin: 0 52px 16px 52px;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 4px;
}

.header-title {
    color: #F8FDFE;
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.header-gap {
    gap: 8px;
}

.header-wallet {
    color: #F8FDFE;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
}

.header-wrapper {
    width: 40px;
    height: 40px;
}

.header-cart {
    background-image: url(../image/cart_icon.png);
    background-size: cover;
}

.header-link {
    display: inline-block;
    width: 100%;
    height: 100%;
}

/* Navigation */

.nav {
    background-color: #FFFFFF;
    padding: 4px 52px;
}

.nav-text {
    color: #000;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
}

.nav-menu {
    gap: 40px;
}

.nav-menu-link {
    color: #000000;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

/* Main */

.main {
    position: relative;
    background-color: #EEEEEF;
    padding: 32px 52px 120px 52px;
}

.main-title {
    color: #1F1F1F;
    font-family: 'Cabin', sans-serif;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 23px;
    border-bottom: 1px solid #A8A8A8;
}

.section-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 24px;
    margin-top: 24px;
}

.good-container {
    background-color: #F8FDFE;
    padding: 32px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.section-image {
    width: 178px;
    height: 280px;
}

.section-heading {
    color: #1F1F1F;
    width: 242px;
    height: 31px;
    margin-top: 16px;
    border-bottom: 1px solid #A8A8A8;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.section-writer {
    color: #8E8E8E;
    width: 241px;
    height: 24px;
    margin-top: 5px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-family: 'Cabin', sans-serif;
    font-weight: 400;
}

.section-margin {
    margin-top: 8px;
}

.section-price {
    color: #E90000;
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-top: 8px;
}

.section-discounted-price {
    color: #8E8E8E;
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-decoration: line-through;
    margin-left: 24px;
}

.section-purple-btn {
    color: #F8FDFE;
    width: 242px;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    padding: 8px 24px;
    margin-top: 16px;

    border: none;
    border-radius: 4px;
    background: #4C394E;

    cursor: pointer;
}

.section-purple-btn:hover {
    background-color: #744978;
}

.section-green-btn {
    color: #F8FDFE;
    width: 242px;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    padding: 8px 24px;
    margin-top: 16px;

    border: none;
    border-radius: 4px;
    background: #4D762D;

    cursor: pointer;
}

.section-green-btn:hover {
    background-color: #6DB236;
}

.section-blue-note {
    position: absolute;
    top: 0;
    left: 0;

    border-radius: 4px;
    background: #4200FF;

    padding: 4px 8px;

    color: #F8FDFE;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
}

.section-pink-note {
    position: absolute;
    top: 0;
    left: 0;

    border-radius: 4px;
    background: #AF39E7;

    padding: 4px 8px;

    color: #F8FDFE;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
}

.section-lightpink-note-with-blue {
    position: absolute;
    top: 0;
    left: 40px;

    border-radius: 4px;
    background: #EA33C0;

    padding: 4px 8px;

    color: #F8FDFE;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
}

.section-lightpink-note-with-pink {
    position: absolute;
    top: 0;
    left: 51px;

    border-radius: 4px;
    background: #EA33C0;

    padding: 4px 8px;

    color: #F8FDFE;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
}

.section-lightpink-note-start {
    position: absolute;
    top: 0;
    left: 0px;

    border-radius: 4px;
    background: #EA33C0;

    padding: 4px 8px;

    color: #F8FDFE;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
}

.chat-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;

    width: 64px;
    height: 64px;
    background-color: #10BBD5;
    border-radius: 100px;
}

.chat-icon {
    background-image: url(../image/chat_icon.png);
    background-size: 52px;
    background-repeat: no-repeat;
    background-position: center;
}

.chat-icon:hover {
    transform: rotate(15deg);
}

.chat-link {
    display: inline-block;
    width: 100%;
    height: 100%;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    padding: 32px 52px;
    background-color: #4C394E;
}

.footer-content {
    color: #F8FDFE;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
}

.adition-element::before {
    content: '\00A9';
    margin-right: 4px;
}